<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <div class="toolbar-content">
      <ion-title>Mis Tareas</ion-title>
      <div class="username-container">
        <ion-text>
          <ion-icon name="person"></ion-icon>
          Hola, {{ username }}
        </ion-text>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenedor de formulario en 2 columnas -->
  <div class="form-container">
    <!-- Primera columna: Nueva tarea y Departamento -->
    <div class="left-column">
      <!-- Formulario para nueva tarea -->
      <ion-item class="task-item">
        <ion-input [(ngModel)]="newTaskTitle" placeholder="Nueva tarea"></ion-input>
      </ion-item>

      <ion-item class="department-item">
        <ion-label>Departamento</ion-label>
        <ion-select [(ngModel)]="selectedDepartment" interface="popover" placeholder="Selecciona un departamento" >
          <ion-select-option value="Datos & IOT">Datos & IOT</ion-select-option>
          <ion-select-option value="Desarrollo Fullstack">Desarrollo Fullstack</ion-select-option>
          <ion-select-option value="Marketing">Marketing</ion-select-option>
          <ion-select-option value="Diseño Web">Diseño Web</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <!-- Segunda columna: Fecha límite -->
    <div class="right-column">
      <ion-item class="date-item">
        <ion-label  class="fecha-label">Fecha límite de entrega</ion-label>
        <ion-datetime [(ngModel)]="selectedDueDate" display-format="DD/MM/YYYY" presentation="date"></ion-datetime>
      </ion-item>
        <!-- Botón para añadir la tarea -->
        <ion-item class="buton">
          <ion-button (click)="addTask()" class="add-btn" expand="full">Añadir Tarea</ion-button>
        </ion-item>
    </div>
  </div>

 <ion-grid>
  <ion-row>
    <ion-col size="6" size-md="4" size-lg="3" *ngFor="let task of tasks">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ task.title }}</ion-card-title>
          <ion-card-subtitle>Departamento: {{ task.department }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p *ngIf="task.dueDate">
            Fecha límite: {{ task.dueDate | date: 'shortDate' }}
          </p>
          <ion-item lines="none">
            <ion-checkbox
              slot="start"
              [(ngModel)]="task.completed"
              (ionChange)="toggleTask(task)"
            ></ion-checkbox>
            <ion-label>Completada</ion-label>
            <ion-button color="danger" fill="clear" (click)="deleteTask(task)" slot="end">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
