<ion-header>
  <ion-toolbar>
    <ion-title>Mis Tareas</ion-title>
  </ion-toolbar>
</ion-header>


<!-- Aquí es donde se añade el formulario para nueva tarea -->
<ion-item>
  <ion-input [(ngModel)]="newTaskTitle" placeholder="Nueva tarea"></ion-input>
  <ion-label>Departamento</ion-label>
  <ion-select [(ngModel)]="selectedDepartment" placeholder="Selecciona un departamento">
    <ion-select-option value="Datos & IOT">Datos & IOT</ion-select-option>
    <ion-select-option value="Desarrollo Fullstack">Desarrollo Fullstack</ion-select-option>
    <ion-select-option value="Marketing">Marketing</ion-select-option>
    <ion-select-option value="Diseño Web">Diseño Web</ion-select-option>
  </ion-select>
</ion-item>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let task of tasks">
      <ion-label [class.completed]="task.completed">{{ task.title }}</ion-label>
      <ion-checkbox
        slot="start"
        [(ngModel)]="task.completed"
        (ionChange)="toggleTask(task)"
      ></ion-checkbox>
      <ion-button color="danger" fill="clear" (click)="deleteTask(task)"> <!--Obtengo unicamente el objeto-->
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  
  <!-- Botón para añadir la tarea -->
  <ion-item class="buton">
    <ion-button (click)="addTask()" class="add-btn" expand="full">Añadir Tarea</ion-button>
  </ion-item>
</ion-content>


<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tasks</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> <!-->
