ion-toolbar{
    --background:#ebebec;
    color: black;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
  }
  
  ion-content{
    --background: #6bc0bb;
  }

  .header-content {
    display: flex;                
    align-items: center;          
  }
  
  .image-container {
    margin-right: 10px;          
  }
  
  .tareas {
    max-width: 60px;             
    height: auto;
  }

  /* Estilo para el ion-label (Departamento) */
ion-label {
  margin-right: 10px; /* Espacio entre el label y el select */
  font-size: 14px;
  color: #333;
  width: 30%; /* Controla el ancho del label */
}

/* Estilo para el ion-select */
ion-select {
  width: 60%; /* Controla el ancho del select */
}


  ion-button.add-btn {
    --background: #947078;
    color:white;
    font-weight: bold;
    font-size:16px;
    padding: 15px;
    width: auto;
    --border-radius: 15px;
    margin-left: 45%;

  
    &:hover{
      --background:#7A5E51;
      color: black;
      transform: scale(1.05);
      transition: all 0.3s ease;
    }

    

  }