<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <img src="assets/icon/registrar.png" alt="Registrar" class="login-image" />

    <ion-card class="login-card">
      <ion-card-content>
        <form #registerForm="ngForm" (ngSubmit)="register()" class="login-form">

          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input
              name="username"
              required
              [(ngModel)]="username"
            ></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="registerForm.submitted && !username">
            El usuario es requerido
          </ion-text>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input
              name="password"
              required
              type="password"
              [(ngModel)]="password"
            ></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="registerForm.submitted && !password">
            La contraseña es requerida
          </ion-text>

          <div class="button-container">
            <ion-button expand="block" type="submit" class="centered-button" shape="round">
              Registrar
            </ion-button>
            <ion-button routerLink="/login" expand="block" class="centered-button" shape="round">
              Volver
            </ion-button>
          </div>

        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
