ion-toolbar {
    --background: #34a1b5;
    text-align: center;
    color: white;
    text-transform: uppercase;
  }

  .image-container {
    display: flex;           
    justify-content: center; 
    align-items: center;     
    height: 150px;           
    margin-bottom: 20px;     
    margin-top: 10px;
  }
  
  .registrar-image {
    max-width: 70%;   
    height: auto;     
  }
  
  .content-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .form-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .form-inner {
    width: 100%;
    max-width: 400px;
    padding: 16px;
  }
  
  