ion-toolbar {
  --background: #34a1b5;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.login-image {
  width: 100px;
  height: auto;
  margin: 20px 0;
}

.login-card {
  width: 100%;
  max-width: 380px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.centered-button {
  --background: #947078;
}
