<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <div class="image-container">
    <img src="assets/icon/iniciar_sesion.png" alt="Iniciar Sesión" class="login-image">
  </div>

  <ion-content>
    <form #form="ngForm" (ngSubmit)="login()">
      <ion-item>
        <ion-input
          name="username"
          required
          [(ngModel)]="username"
          placeholder="Usuario"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="form.submitted && !username">
        El usuario es requerido
      </ion-text>
  
      <ion-item>
        <ion-input
          name="password"
          required
          type="password"
          [(ngModel)]="password"
          placeholder="Contraseña"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="form.submitted && !password">
        La contraseña es requerida
      </ion-text>
  
      <ion-button expand="inset" class="centered-button" type="submit">
        Ingresar
      </ion-button>
    </form>
  
    <ion-button expand="inset" class="centered-button" (click)="goToRegister()">
      Regístrate
    </ion-button>
  </ion-content>
  



  <!----
  <ion-item>
    <ion-input [(ngModel)]="username" placeholder="Usuario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      [(ngModel)]="password"
      type="password"
      placeholder="Contraseña"
    ></ion-input>
  </ion-item>
  <ion-button expand="inset" class="centered-button" (click)="login()">Ingresar</ion-button>
  <ion-button expand="inset" class="centered-button"  (click)="goToRegister()">Regístrate</ion-button>
</ion-content> -->

