full-calendar {
    display: block;
    max-width: 90%;
    height: 400px;
    margin: 0 auto; // Centrarlo
    font-size: 0.85rem; // Opcional: hace que los textos se vean más pequeños
    padding-top: 40px;
  }
  