//estilos a toolbar

.header-content {
  display: flex;                
  align-items: center;          
}

.image-container {
  margin-top: 10px;
  margin-right: 10px;          
}

.gestor {
  max-width: 60px;             
  height: auto;
}

.toolbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.username-container {
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
  font-style: italic;
  font-size: 15px;
  color: #333;
}

ion-toolbar{
  --background:#ebebec;
  color: black;
  text-align: center;
  padding: 20px;
}

ion-title{
  font-size: 25px;
  margin-top: 15px;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

//fondo 
ion-content{
  --background: #6bc0bb;
}

//estilos al botón
ion-button.add-btn {
  --background: #947078;
  color:white;
  font-weight: bold;
  font-size:16px;
  padding: 15px;
  width: 10%;
  --border-radius: 15px;

  &:hover{
    --background:#7A5E51;
    color: wheat;
    transform: scale(1.05);
    transition: all 0.3s ease;
  }
}

ion-button.close-btn {
  border-radius: 15px;   
  padding: 3px;      
  margin-top: 10px;

  &:hover{
    --background:#7A5E51;
    color: wheat;
    transform: scale(1.05);
    transition: all 0.3s ease;
  }
}

ion-content {
  --padding-start: 20px;  /* Padding izquierdo */
  --padding-end: 20px;    /* Padding derecho */
  --padding-top: 30px;    /* Padding superior */
  --padding-bottom: 20px; /* Padding inferior */
}


#container strong {
  font-size: 20px;
  line-height: 26px;
}


#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.completed {
  text-decoration: line-through;
  color: gray;
  }

.card-iot           { --background: #e0f7fa; }
.card-fullstack     { --background: #e8f5e9; }
.card-marketing     { --background: #fff3e0; }
.card-diseno-web    { --background: #f3e5f5; }


